<app-nav-bar></app-nav-bar>

<router-outlet></router-outlet>

<app-footer></app-footer>


<script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAtWOGnQO9_3ftw9KwjZGIAsoM-y3ULx8k",
    authDomain: "comunidad-ith-c9124.firebaseapp.com",
    databaseURL: "https://comunidad-ith-c9124.firebaseio.com",
    projectId: "comunidad-ith-c9124",
    storageBucket: "comunidad-ith-c9124.appspot.com",
    messagingSenderId: "1012377536597"
  };
  firebase.initializeApp(config);
</script>
